@{
    ViewData["Title"] = "TimeZone";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Time Zones</title>
    <style>
        <link rel="stylesheet" href="wwwroot/css" />
    </style>
</head>
<body>


    <form method="post">
        <div class="api-caller">
            <h3 for="timezone">Choose a time zone:</h3>
            <select id="timezone" name="SelectedTimeZone" asp-items="Model.TimeZone">
                <option value="">-- Select a time zone --</option>
            </select>
            <button type="submit">Submit</button>
        </div>
    </form>


    <div class="api-response-box">
        <p>Current Local Time In @Model.ApiResponseName:</p>
        @if (Model.ApiResponseTime != null)
        {
            <p>@Model.ApiResponseTime</p>
        }
    </div>
    <footer>
        <div class="bottom-details">

            <h4>Date In @Model.ApiResponseName:</h4>
            @if (Model.ApiResponseTime != null)
            {
                <h4> @Model.ApiDayTime</h4>
            }
        </div>
    </footer>


</body>
</html>